@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;
    --foreground: #111;

    --primary: #00e;
  }

  .dark {
    --background: #000;
    --foreground: #eee;

    --primary: rgb(46, 46, 255);
  }
}
